<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:white!important; margin-bottom:20px;">
    <a class="navbar-brand" href="#"><img src="/assets/img/logo-SFEIR-normal.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <span class="admin-name">Bonjour, John Doe</span>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="">
            </div>
        </form>
        <div class="admin-avatar">
            <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-372-456324.png">
        </div>
    </div>
</nav>