<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- credits -->
<!-- <footer class="border-top footer text-muted footer-app">
	<div class="container">
		&copy; 2019 - CCSRB - <a routerLink="/privacy">Privacy</a>
	</div>
</footer> -->



<!--<script src="../../node_modules/jquery/dist/jquery.min.js"></script>-->
<!--<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
<!--<link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--<link rel="stylesheet" href="httmasastps://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->